/*公共样式*/
.item_box{
    padding:10px;
    border-top:1px solid #ccc;
}
.lt_price .price{
    color:red;
}
.lt_price .oldPrice{
    text-decoration:line-through;
    font-size: 12px;
    color:#666;
}
.lt_size span{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border:1px solid #ccc;
    display: inline-block;
    font-size: 12px;
    margin:3px 0;
}
.lt_size span.current{
    background-color: orange;
    color:#fff;

}
.lt_num .last{
    font-size: 12px;
    color:#666;

}
.lt_go_cart{
    position:absolute;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
    padding: 10px;
    border-top:1px solid red;
    background-color: #ccc;
}
.lt_go_cart a{
    padding:5px;
}