.lt_sort{
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    font-size: 12px;
    text-align: center;
}
.lt_sort a{
    float:left;
    width: 25%;
    color: #666;
}
.lt_sort a.current{
    color: orange;
}
.lt_sort a i{
    margin:0 3px;
}